<div class = "row col-12 pb-3">
  <%=link_to admins_franchises_select_index_path(destination: 'add_document'),
    data: {turbolinks: false} do%>
  
    <button class = 'btn btn-padgett'>
      <%=I18n.t('franchise_document.index.add_document')%>
    </button>
  <%end%>
</div>

<div class = "row">
	<div id = "franchise_documents" class = "col">
		<%=render partial: 'document_list'%>
	</div>
</div>
