<form>
    <div class = "form-row col-12">
      <!-- NOTES -->
      <div class = "form-group form-row col-12">
        <div class = "col-sm-12 col-md-12 col-lg-12">
          <%= accountant.notes %>
        </div>
      </div>
    </div>
 
</form>  