<div class = "row justify-content-center">
  <div class = "col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8">
		<%= render partial: "shared/error_handling",
 			locals:{the_object: @trans_code,
       				objectname: I18n.t('transaction_code.object_name')} %>

    <%=render partial: 'form',
    	locals: {trans_code: @trans_code,
	             action: 'new'} %>
  </div>
</div>