<div class = "row justify-content-center">
  <div class = "col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
    <%= render partial: "shared/error_handling",
     locals: { the_object: @group,
               objectname: I18n.t('franchise_group.object_name')} %>

    <%= render partial: "form",
    locals: {group: @group,
  	         action: "create"}%>
  </div>
</div>

