<h2>Payment update from Padgett Report + Pay</h2>
<p>This is a notification that the scheduled bank payment made with <%=@bank_payment.paid_with%> in the amount of <%=number_to_currency(@bank_payment.amount)%> for <%=((l @bank_payment.payment_date) if @bank_payment.payment_date) %> has been deleted / cancelled at your request.</p>

<p>You can log into Padgett Report + Pay to find more details about the payment status. </p>

<p>Do not reply to this email. This email was sent automatically byPadgett Report + Pay</p>
    