<h2>
  Document Attachment Maintenance Performed
</h2>
<p>
  This is a notification from PR+P to let you know that <%=pluralize(@documents_cleaned, "unattached document")%> were purged from the ActiveStorage tables
</p>


