<div class = "row justify-content-center">
  <div class = "col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
    <%= render partial: "shared/error_handling",
     locals: { the_object: @deposit,
           objectname: I18n.t('deposit_tracking.object_name')} %>


    <%=render partial: 'form',
    locals: {deposit: @deposit,
	           action: 'new'} %>

  </div>
</div> 