<h2>Action Reminder</h2>
<p>
This is a notification from the Padgett Report + Pay to remind you that the due date to report royalties is in two (2) business days
</p>
<p>
Please log into the Padgett Report + Pay to submit and pay your royalty report
</p>

<p>
Do not reply to this email. This email was sent automatically by Padgett Report + Pay
</p>


