<h2>
  Payment Method for Website Fee Must be Updated
</h2>
<p>
  This notification from PR+P is to let you know that the payment method you selected to pay the website fee is invalid or unavailable.
</p> 
<p>
  This may be due to a recent change in your global payment methods which made the payment method previously selected to pay the Website fee invalid or unavailable
</p>

<p>
  We invite you to log into PR+P and navigate to <span style="font-weight: 700">Account - Franchise Setup - Website Preferences</span> and click on the Edit icon.
</p>
	
<p>
	Select the new payment method to pay the Website fee. You will not be able to change the Website Preference. If you wish to change the type of website you are paying for, you need to contact Home Office.
</p>    

<p>
  If you don't update the payment method before the payment processing date, <span style="font-weight: 700">PR+P will process the payment using the first available bank account.</span>
</p>

<p>
  If there are no bank accounts on file, <span style="font-weight: 700">PR+P will process the payment using the first available credit card.</span>
</p>    
    
<p>
  Do not reply to this email. This email was sent automatically by PR+P
</p>
