<div class = "col-12 col-xl-10">
  <h2 class="padgett-text">
    Accountants
  </h2>
</div>

<!-- Accountant list -->
<div class = "col-12">
  <div id="accountants" >
    <%=render partial: 'accountant_list'%>
  </div>
</div>