<fieldset>
  <div class = "row">
    <div class = "form-row col-12">
      <div class = "form-group form-row col-12">
        <div class = "col-sm-6 col-md-6 col-lg-6">
          <%= f.collection_select :franchise_number, Franchise.all.order("franchise_number ASC"), :franchise_number, :full_denomination, {:prompt => "Select a franchise"}, {:class => 'form-control input-sm'}%>
        </div>

        <div class = "col-sm-2 col-md-2 col-lg-2">
          <%=f.hidden_field :_destroy %>
	        <%=link_to  "#" ,class: "remove_items" do %>
           <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          <% end %>
        </div>
 
      </div>
    </div>  
  </div>
</fieldset>





