<div class = "row">
  <div class = "col-12">
    <div class = "card">
      <div class = "card-header login_header" style="display:inline">
        <h3 class = "float-left">
          Franchise: <%=@franchise.full_denomination%>
        </h3>
        <%= link_to "Return", admins_franchises_path, class: "btn btn-light float-right"%>
      </div>
    </div>

    <div class = "card-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class = "card">
        <div class = "card-header card-background-padgett" role="tab" id="headingOne">
          <h4 class="card-title">
            <h3  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Franchise Information
            </h3>
          </h4>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-body">
            <%= render :partial => 'admins/franchises/show/fran_details', :locals => {:franchise => @franchise} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
  


