<h2>Payment update from Padgett Report + Pay</h2>
<p>This is a notification that the check payment made with check number <%=@check_payment.check_number%> in the amount of <%=number_to_currency(@check_payment.amount)%> has been deleted / cancelled at your request.</p>

<p>You can log into Padgett Report + Pay to find more details about the payment status. </p>

<p>Do not reply to this email. This email was sent automatically byPadgett Report + Pay</p>
    