<div class="row" align="center">
  <%=image_pack_tag("Padgett_CC_S.png") %>
</div>
<br>
<div class="error">
  <div class="message">
     <h1 style="color:#f00">Unable to Process the Request!</h1>
     <h3>The request sent to the server is unprocessable.</h3>
     <h3>The technical team has been notified of the issue.</h3>
    </div>

    <div class="error" align="center">
     <%= link_to "Take me back Home",root_url%>
</div>
</div>