
<%= render :partial => "shared/error_handling",
    :locals => {:the_object => @franchise,
    	        :objectname => I18n.t('franchise.object_name')} %>


<div class = "row">
  <div class = "col-12">
    <%= render :partial =>'form',
    :locals => {:franchise => @franchise,
                :action => 'edit'} %>
  </div>
</div>

<br>
<%if current_user.full_control?%>
  <div class = "row">
    <div class = "col-12">
      <%= render :partial =>'users',
      :locals => {:franchise => @franchise,
                  :authorized_users => @authorized_users} %>
    </div>
  </div>
<%end%>