<div class = "col-12 pb-2">
  <h2 class="padgett-text">
    <%=I18n.t('website_payment_list.index.title')%>
   </h2>
</div>


<!-- Website payment List -->
<div class = "col-12">
  <div id="website_payment_list"  >
    <%=render partial: 'website_payment_list'%>
  </div>
</div>