<%if remittance.late?%>
  <div class = "row" >
    <div class = "form-row col-6">
      <div class = "form-group form-row col-12">
        <h5 class="col-form-label-sm label-bold">Late Fees</h5>
      </div>
    </div>
    <!-- LATE FEES (IF ANY) -->
    <div class = "form-row col-6">
      <div class = "form-group form-row col-12">
        <div class = "col-md-8 col-sm-9 col-lg-7 col-xl-7 ">
        </div>
        <div class = "text-right col-xl-4 col-lg-4 col-md-4 col-sm-3 form-control-plaintext">
          <%=number_with_precision(remittance.late_fees || 0.00,
             precision: 2)%>
        </div>
      </div>
    </div>
  </div>
<%end%>

<!-- TOTAL DUE -->
<div class = "row">
	<div class = "form-row col-6">
    <div class = "form-group form-row col-12">
      <h5 class="col-form-label-sm label-bold">
        Total Due
      </h5>
    </div>
	</div>
	<div class = "form-row col-6">
	  <div class = "form-group form-row col-12">
	  	<div class = "col-md-8 col-sm-9 col-lg-7 col-xl-7 ">
      </div>
      <div class= "text-right col-xl-4 col-lg-4 col-md-4 col-sm-3 form-control-plaintext">
 		  	<%=number_with_precision(remittance.total_due || 0.00,
           precision: 2)%>
      </div>
	  </div>
	</div>
</div>  
 </form>
