<div class = "card">
  <div class = "card-header login-header">
    <%=I18n.t('accountant.form.notes')%>
  </div>
  
  <div class = "card-body card-background-padgett">
    <div class = "form-row col-12">
      <!-- NOTES -->
      <div class = "form-group form-row col-12">
        <div class = "col-sm-12 col-md-12 col-lg-12">
          <%= acc.text_area(:notes, size: '50x5',
          :style=>"resize: none;",
          :class =>"form-control text-left input-sm" ) %>
        </div>
      </div>
    </div>
  </div>
</div>  