<div class = "row justify-content-center">
  <div class = "col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
    <%= render partial: "shared/error_handling",
     locals: { the_object: @card_payment,
           objectname: I18n.t('card_payment.object_name')} %>


    <%=render partial: 'form',
    locals: {card_payment: @card_payment} %>

  </div>
</div> 