<!--GEO MAP SHOWING REVENUES BY STATE -->
<div class = "row">
	<div class = "col-md-6" 
	  style="border-top: 1px solid">
		<h5 class="text-center">
		  Recent Royalty Activity
		</h5>	
		
	</div>


	<!--DONUT CHART SHOWING MONTHLY COLLECTIONS BY CATEGORY -->
	<div class = "col-md-6" 
			 style = "border-top: 1px solid;
			 border-left: 1px solid">
		<h5 class="text-center">
		  Recent Charges Activity
	  </h5>

	</div>
</div>


