<!--LATEST ROYALTY ACTIVITY-->
<div class = "row">
	<div class = "col-md-6" 
	  style="border-top: 1px solid">
		 
		 <h5 style="display:inline-block" class="text-center mt-2 col-md-11">
		  Recent Transactions
	  </h5>
		
		<%=link_to "See All", "#",
		class: "btn btn-padgett float-right col-md-1 my-1"%>
	
	  <br>
		
	  <%=render partial: 'user_recent_roy'%>	
		
	</div>


	<div class = "col-md-6" 
	  style="border-top: 1px solid">
		 
		 <h5 style="display:inline-block" class="text-center mt-2 col-md-11">
		  Recent Charges
	  </h5>
		
		<%=link_to "See All", "#",
		class: "btn btn-padgett float-right col-md-1 my-1"%>
	
	  <br>
		
	  <%=render partial: 'user_recent_charges'%>	
		
	</div>
</div>


