<p>A request has been made to generate a link to choose your password on PR+P. You can complete this step by clicking the link below.</p>
<br>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and choose a new one.</p>
<p>Do not reply to this email. This email was sent automatically by PR+P</p>